<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Cami app</title>
</head>
<body>
   
   <h3>List of all Users</h3>

   <table class="table">
      <thead>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Age</th>
         <th>Username</th>
         <th>Action</th>
      </thead>
      <tbody>
         <tr>
            <td>Camilo</td>
            <td>Ordonez</td>
            <td>33</td>
            <td>icamilo95</td>
            <td><a href="#">Edit User</a></td>
         </tr>
         
            <% for (var i = 0; i < allUsers.length; i++) { %>
               <tr>
                  <td><%= allUsers[i].firstname %></td>
                  <td><%= allUsers[i].lastname %></td>
                  <td><%= allUsers[i].age %></td>
                  <td><%= allUsers[i].username %></td>
                  <td><a href="/edit/<%= allUsers[i].id  %>" >Edit User</a></td>
               </tr>
            <% }; %>
            
      </tbody>
   </table>

</body>
</html>